@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  scroll-behavior: smooth;
  color: #f1f1f1;
  overflow-x:hidden
}

h1 {
  font-size: clamp(1.913rem, calc(12px + 2.475vw), 2.587rem);
  line-height: 1.1;
}

h2 {
  font-size: clamp(1.575rem, calc(12px + 1.8vw), 2.025rem);
  line-height: 1.1;
}

h3 {
  font-size: clamp(1.282rem, calc(12px + 1.35vw), 1.688rem);
  line-height: 1.1;
}

h4 {
  font-size: clamp(1.125rem, calc(12px + 0.9vw), 1.35rem);
  line-height: 1.1;
}

p {
  font-size: clamp(1.035rem, calc(12px + 0.54vw), 1.125rem);
  line-height: 1.1;
  color: #b8b7b7;
}

span {
  font-size: 1rem;
  line-height: 1.1;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.link {
  position: relative;
}

.link:focus,
.link:active {
  color: #fc5596;
}
.link::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fc5596;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.menu-drop {
  -webkit-animation: menu-drop 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: menu-drop 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes menu-drop {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes menu-drop {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

.info-box {
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(42px);
  border-radius: 4px;
}

.animated {
  animation: pulse 2s infinite;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(132, 44, 204, 0.1);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(145, 44, 204, 0.4);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(76, 9, 131, 0);
  }
}

.light {
  animation: light 5s ease-in-out 0s infinite alternate;
}

@keyframes light {
  0% {
    width: 10%;
    opacity: 0.2;
  }
  50% {
    width: 50%;
    opacity: 0.5;
  }
  60% {
    width: 60%;
    opacity: 0.6;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
.ground {
  animation: ground 5s ease-in-out infinite alternate;
}

@keyframes ground {
  0% {
    fill: #fff;
    opacity: 0.9;
  }
  80% {
    fill: rgba(255, 255, 255, 0.616);
  }
  100% {
    fill: #fff;
    opacity: 1;
  }
}

.ether {
  animation: ether 5s ease-in-out 0s infinite alternate;
}

@keyframes ether {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
}
.row .col {
  flex: 1;
}

/* Accordion styles */
.tabs {
  border-radius: 4px;
  overflow: hidden;
}
.tab {
  width: 100%;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: 500;
  cursor: pointer;
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

.tab input:checked + .tab-label {
  background: #1a252f;
}
.tab input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.tab input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
.navbar_li {
  border-bottom: solid transparent 2px;
  margin-left: 40px;
  font-size: 14px;
  padding:28px;
}
.navbar_li:hover{
  border-image: linear-gradient(to right, #F506FE , #06D6DF) 1;
}
.individual_box:hover{
  border: solid #2b2d2c 2px;
  border-image: linear-gradient(to right, #F506FE , #06D6DF) 1;
}
.individual_box{
  color: #6d7399;
  background-color: white;
  border: solid transparent 2px;
}
.modal { /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 30; /* Sit on top */
  padding-top: 15%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin:auto;
  align-content: center;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.gradient_text {
  background: -webkit-linear-gradient(90deg,#FA02FF, #06D6DF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.markettype:hover{
  background-image: linear-gradient(90deg, rgba(250, 2, 255, 0.1) 0%, rgba(6, 214, 223, 0.1) 100%);

}
.gradientBorderButton{
  border: solid 1px transparent;
  border-radius: 8px;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to right, #FA02FF, #06D6Df);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: fit-content;
}
.swaplistitem:hover{
  background-image: linear-gradient(to right, #fdbbfe, #b9f7f9);
}
.nftitem{
  border: solid 1px transparent;
  border-radius: 4px;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to right, #FA02FF, #06D6Df);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0px 4px 8px rgba(43, 45, 60, 0.1); 
}
/* .addressBox{
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  background:linear-gradient(90deg, rgba(250, 2, 255, 0.1) 0%, rgba(6, 214, 223, 0.1) 101.18%);
  margin: 5px;
}
.addressBox::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background-image: linear-gradient(to right, #FA02FF, #06D6Df);
} */
.addressBox {
  display: flex;
  flex-direction: row;
  border: solid 1px transparent;
  border-radius: 10px;
  background-image: linear-gradient(to right, #fdbbfe, #b9f7f9), 
                    linear-gradient(to right, #FA02FF, #06D6Df);
  background-origin: border-box;
  background-clip: content-box, border-box;
  justify-content: center;
align-items: center;  
}
.nftButton{
  border: solid 1px transparent;
  border-radius: 10px;
  background-image: linear-gradient(to right, white, white), 
                    linear-gradient(to right, #FA02FF, #06D6Df);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color:#6d7399;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
}
.nftButton p{
  padding:"10px";
  color: #6D7399;

}
.detailBox{
  border: solid 1px transparent;
  border-radius: 10px;
  background-image: linear-gradient(to right, #f9cef9, #c8f5f6), 
                    linear-gradient(to right, #FA02FF, #06D6Df);
  background-origin: border-box;
  background-clip: content-box, border-box;

}
th,td{
  padding: 10px;
  font-size: 16px;
}
.chartPageButton{
  border-bottom: solid transparent 2px;
  width: 110px;
  height:110px;
  padding:22px 8px;
  margin-right:8px;
  background-color: #37394d;
}
.chartPageButton:hover{
  border-image: linear-gradient(to right, #F506FE , #06D6DF) 1;

}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #42455C;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2B2D3C; 
}
.nftGridButton:hover{
  border: solid 1px transparent;
  border-radius: 10px;
  background-image: linear-gradient(to right, #5f6285, #5f6285), 
                    linear-gradient(to right, #FA02FF, #06D6Df);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.nftGridItem:hover{
  border: solid 1px transparent;
  border-radius: 10px;
  background-image: linear-gradient(to right, #5f6285, #5f6285), 
                    linear-gradient(to right, #FA02FF, #06D6Df);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.mobileLi{
  border: solid transparent 2px;
  
}
.mobileLi:hover{
  border-radius: 8px;
  background-image: linear-gradient(#42455c, #42455c), 
                    linear-gradient(to right, #FA02FF, #06D6Df);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.mobileLi a:hover{
  border:solid transparent 1px;

}
.smells_good{
  font-family: 'Montserrat';
  font-weight: bold;
  background: linear-gradient(90deg, #FA02FF 0.2%, #26BAE3 98.8%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.landingDiv{
  border-image: linear-gradient(180deg, rgba(250, 2, 255, 0.2) -7.92%, rgba(6, 214, 223, 0.2) 94.7%);
}
.table_tr:hover{
  background: linear-gradient(90deg, rgba(250, 2, 255, 0.05) 0%, rgba(6, 214, 223, 0.05) 100%);

}
.buy{
  border: solid 1px transparent;
  border-radius: 10px;
  background-image: linear-gradient(to right, #5f6285, #5f6285), 
                    linear-gradient(to right, #FA02FF, #06D6Df);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.gradient{
  border: solid 1px transparent;
  border-radius: 8px;
  background-image: linear-gradient(to right, white, white), 
                    linear-gradient(to right, #FA02FF, #06D6Df);
  background-origin: border-box;
  background-clip: content-box, border-box;

}